@charset "utf-8";

/*열린책들 로그인 스타일시트*/

@import url(../css/common.css);

.inbox {
    /*    background-color: #f3f8f3;*/
    background-color: #f3f8f3;
    overflow: hidden;
}

.mobiledb,
.m_sidemenu,
.mobileham {
    display: none;
}

.m_best_img,
.m_ban_img_box,
.m_member {
    display: none;
}


/*열린책들*/

/*헤더********************************************/
.top {
    width: 100%;
    height: 150px;
    background-color: #fff;
    padding: 20px 15px 15px 10px;
    position: relative;
    /*    margin-bottom: 40px;*/
}

.toplogo a {
    display: flex;
    color: #222;
}

.toplogo img {
    width: 100px;
}

.logotxt {
    padding-top: 20px;
    padding-left: 10px;
}

.logotxt h1 {
    font-size: 25px;
}

.logotxt h2 {
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.main_log {
    position: absolute;
    right: 15px;
    top: 30px;
    text-align: right;
}

.main_log a {
    color: #222;
    font-size: 14px;
}

.main_log a:hover {
    text-decoration: underline;
}

.main_search {
    position: relative;
    width: 30%;
    top: -60px;
    right: -70%;
    height: 47px;
}

#mainfind {
    width: 100%;
    height: 47px;
    border: 8px solid #C5161D;
    padding-left: 10px;
}

.main_search img {
    width: 18px;
    top: 15px;
    position: absolute;
    right: 18px;
}


/*****************************************헤더끝*/

/*로그인스타일*/
.tit {
    padding: 30px;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 30px;
}

.login_bg {
    background: url(../images/bg/intro_open.jpg) no-repeat center/cover;
    width: 100%;
    height: 35vh;
    position: relative;
}

.login_bg_tit {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.login_wrap {
    width: 900px;
    max-width: 100%;
    background-color: #fff;
    margin: 10vh auto;
}

#login {
    margin: 0 auto;
    width: 100%;
    height: 35vh;
}

.minput {
    margin-bottom: 1vh;
    text-align: center;
}

.minput input {
    width: 30vw;
    height: 5vh;
    border: 0px solid #fff;
    background-color: #e5e5e5;
    font-size: 15px;
    color: #222;
    padding-left: 10px;
}

/*input[type="text"]{
    width: 20vw;
}*/

/*크롬브라우저에서 포커스 시 진해지지 않게 하기 위해서~*/
.minput input:focus {
    outline: none;
    /*내 스타일 유지~*/
}

/*로그인버튼 박스*/
.btnBox {
    text-align: center;

}

/*로그인버튼*/
#sbtn {
    width: 30vw;
    height: 7vh;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 0;
    background-color: #222;
    margin-top: 1vh;
}

/*기타체크링크박스*/
.addBox {
    margin-top: 50px;
    text-align: center;
}

/*체크박스영역*/
.addBox > span {
    margin: 0 15px;
    color: #666;

}

/*체크박스 옆 세로정렬*/
#chkbox {
    vertical-align: -4px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*링크셋팅*/
.addBox > a {
    margin: 0 15px;
    color: #222;
}

.addBox > a:hover {
    color: #C5161D;
    font-weight: 600;
}

.login_come {
    text-align: center;
    padding-top: 10px;
    font-weight: 300;
    color: #5a5a5a;
}

/*미디어쿼리*/
@media only screen and (max-width: 1024px) {

    /*로고조금 조정*/
    .toplogo img {
        transform: scale(0.9);
    }

    .logotxt {
        padding-left: 0px;
    }

    .logotxt h1 {
        padding-top: 5px;
    }

    .logotxt h2 {
        padding-top: 0px;
    }

    /*본문*/
    #sbtn {
        width: 45vw;
    }

    .minput input {
        width: 45vw;
    }

    .tit {
        padding-bottom: auto;
        font-size: 5vw;
    }

    .login_bg {
        height: 25vh;
    }

    .login_wrap {
        margin: 5vh auto;
    }

    /*푸터*/
    .footerlogo {
        margin-left: 3vw;
    }

}

@media only screen and (max-width: 850px) {

    /*검색창*/
    .main_search {
        width: 33%;
        right: -67%;
    }

    /*푸터*/
    .footercenter {
        flex: 5;
        padding: 3vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1vw;
    }

    .footerlogo img {
        width: 20vw;
    }

    .footerlogo {
        margin-left: 0vw;
    }

    .footerinfo a {
        font-size: 14px;
    }
}


@media only screen and (max-width: 700px) {

    /*여기부터 모바일버전*/
    .mobiledb {
        display: block;
    }

    .mobiledn {
        display: none;
    }

    .mobilebr {
        display: block;
    }

    /*헤더*/
    .top {
        height: 120px;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .mobileham {
        width: 10vw;
        height: 10vw;
        min-width: 50px;
        min-height: 50px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #C5161D;
        position: absolute;
        top: 2vw;
        left: 2vh;
    }

    .mobileham a {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .mobileham a img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4vw;
        min-width: 22px;
    }

    .m_sidemenu {
        width: 0vw;
        height: 100vh;
        background-color: #C5161D;
        position: fixed;
        z-index: 777;
        overflow: hidden;
    }

    .m_side_x {
        position: absolute;
        top: 0;
        right: 2vw;
        z-index: 999;
        transform: scale(0.7);
    }

    .m_side_list {
        line-height: 2;
        margin-top: 20vw;
        white-space: nowrap;
        width: 100%;
    }

    .m_side_list li {
        width: 100vw;
    }

    .m_side_list a {
        color: #fff;
        font-size: 10vw;
        width: 100vw;
    }

    .m_side_list li:hover {
        background-color: #fff;
    }

    .m_side_list li:hover a {
        color: #222;
    }

    .m_nextsite {
        width: 100%;
        height: 25vw;
        background-color: #000;
        position: absolute;
        bottom: 0;
        padding: 2vw;
        text-align: center;
        white-space: nowrap;
    }

    .m_nextsite p {
        color: #999;
        line-height: 10vw;

    }

    .m_member {
        position: absolute;
        top: 3vw;
        white-space: nowrap;
        position: relative;
    }

    .m_member::after {
        content: '';
        display: block;
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: #fff;

    }


    .m_member li {
        margin-bottom: 3vw;
        width: 20vw;
        margin-left: 2vw;
    }


    .m_member a {
        color: #f0f0f0;
        font-size: 5vw;
    }


    .nextsite_go {
        color: #fff;
        text-align: center;
        width: 100%;
        display: block;
    }



    .main_search {
        width: 55%;
        left: 50%;
        top: 0vw;
        right: auto;
        transform: translateX(-50%);
    }

    #mainfind {
        height: 50px;
        border: 0;
        border-bottom: 4px solid #C5161D;
        padding-left: 10px;
    }

    .toplogo {
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .toplogo a {
        justify-content: center;
    }

    .logotxt {
        padding-left: 0px;
        padding-top: 0;
    }

    /*본문*/
    .login_bg {
        height: 50vw;
    }

    .login_wrap {
        margin: 0vh auto;
    }

    .tit {
        padding: 30px;
        padding-bottom: auto;
        font-size: 7vw;
    }


    .minput input {
        width: 60vw;
        height: 5vh;
        border: 0px solid #fff;
        background-color: #e5e5e5;
        font-size: 15px;
        color: #222;
        padding-left: 10px;
    }

    .addBox {
        margin-top: 5vw;
    }

    .addBox > span {
        display: block;
        margin-bottom: 5vw;
    }

    #sbtn {
        width: 60vw;
    }

    #login {
        height: auto;
    }


    /*푸터*/
    footer {
        width: 100%;
        height: auto;
        background-color: #fff;
        display: block;
        padding-top: 5vw;
    }

    .footerinfo {
        display: block;
        padding: 0 5vw;
    }

    .footerline {
        display: none;
    }

    .footerlogo {
        display: none;
    }

    .footercenter {
        padding: 0;
        padding-left: 0vw;
    }

    .m_snslinks {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 5vw 0;
    }

    .m_snslinks li {
        float: left;
        width: 33%;
        text-align: center;
    }

    .m_snslinks li img {
        width: 10vw;
        min-width: 35px;
    }

    .snslinks {
        display: none;
    }

    .footerinfo a {
        font-size: 4vw;
        line-height: 3;
    }

    address {
        padding: 5vw;
    }

}

@media only screen and (max-width: 500px) {
    .login_bg_tit {
        background-color: white;
        font-size: 4vw;
        color: #222;
    }

    .login_come {
        font-size: 4vw;
    }

    .addBox > a {
        font-size: 4vw;
    }

    #sbtn {
        width: 80vw;
    }

    .minput input {
        width: 80vw;
    }
}
