@charset "utf-8";

/*열린책들 스타일시트*/
/*C5161D*/

@import url(../css/common.css);

.inbox {
    background-color: #f3f8f3;
    overflow: hidden;
}

/*인트로*/

.intro_index {
    position: absolute;
    z-index: 2;
    width: 40%;
    font-size: 60px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_index li a {
    color: #fff;
}

.intro_index li {
    position: relative;
    font-family: elegance;
    width: 100%;
    height: 65px;
    margin: 20px 0;
}

.intro_index li:nth-child(1):hover {
    background-color: #BE161D;
}

.intro_index li:nth-child(2):hover {
    background-color: #000;
}

.intro_index li:nth-child(3):hover {
    background-color: #5B910A;
}

.intro_index li:nth-child(4):hover {
    background-color: #AAAAAA;
}

#intro .active {
    z-index: 2;
    opacity: 1;
}

.openhover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_openbooksbg.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

.mimehover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_mimebg.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

.byulhover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_byulchunji2.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

.museumhover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_main_museum.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

#intro {
    width: 100%;
    height: 100%;
    position: relative;
}

/*열린책들*/

/*헤더********************************************/
.top {
    width: 100%;
    height: 150px;
    background-color: #fff;
    padding: 20px 15px 15px 10px;
    position: relative;
    margin-bottom: 40px;
}

.toplogo a {
    display: flex;
    color: #222;
}

.toplogo img {
    width: 100px;
}

.logotxt {
    padding-top: 20px;
    padding-left: 10px;
}

.logotxt h1 {
    font-size: 25px;
}

.logotxt h2 {
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.main_log {
    position: absolute;
    right: 15px;
    top: 30px;
    text-align: right;
}

.main_log a {
    color: #222;
    font-size: 14px;
}

.main_log a:hover {
    text-decoration: underline;
}

.main_search {
    position: relative;
    width: 30%;
    top: -60px;
    right: -70%;
    height: 47px;
}

#mainfind {
    width: 100%;
    height: 47px;
    border: 8px solid #C5161D;
    padding-left: 10px;
}

.main_search img {
    width: 18px;
    top: 15px;
    position: absolute;
    right: 18px;
}



/*****************************************헤더끝*/

/*메인**********************************************/
.banner {
    width: 55%;
    background-color: #C5161D;
    display: flex;
    height: 35vh;
    top: 190px;
    position: absolute;
}

.ban_txt {
    flex: 3;
    background-color: #C5161D;
    padding-top: 10vh;
    padding-right: 3vw;
}

.ban_img_box {
    flex: 1.3;
    position: relative;
}

.ban_img_box div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .9s;
}

.ban_img_box .active {
    display: block;
    z-index: 4;
    opacity: 1;
}

.ban_img1 {
    background: url(../images/books/b1.jpg) no-repeat center/cover;
}

.ban_img2 {
    background: url(../images/books/b2.jpg) no-repeat top/cover;
}

.ban_img3 {
    background: url(../images/books/b3.jpg) no-repeat center/cover;
}

.ban_img4 {
    background: url(../images/books/b4.jpg) no-repeat center/cover;
}

.ban_img5 {
    background: url(../images/books/b5.jpg) no-repeat top/cover;
}

.ban_img_box a {
    width: 100%;
    height: 100%;
    display: block;
}

.ban_txt_li a {
    color: #fff;
}

.ban_txt_li {
    text-align: right;

}

.ban_txt_li li {
    line-height: 25px;
}

.ban_txt_li h3 {
    line-height: 60px;
    font-size: 20px;
}

.ban_txt_li span {
    display: block;
}

.ban_bul {
    display: flex;
    width: 140px;
    /*margin: 80px auto 0 22vw;*/
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

.ban_bul li {
    width: 17px;
    height: 17px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.ban_bul li.on {
    background-color: #650000;
    border: 1px solid #650000;
}

/*베스트셀러*/
.main_wrap {
    width: 100%;
    height: 360px;
}

.bestseller {
    height: 35vh;
    width: 45%;
    float: right;
}

.bestseller h4 {
    font-size: 20px;
    padding-left: 3vw;
    padding-top: 10px;
    width: 100%;
}

.bestseller a {
    color: #222;
}

.bestseller h4 small {
    font-weight: 400;
}

.bestseller h4 span {
    float: right;
    font-size: 13px;
    padding-right: 1.5vw;
    line-height: 28px;
    font-weight: 300;
}

.bestseller h4 span:hover {
    text-decoration: underline;
}

.bestseller h4 span .bsplus {
    color: #C5161D;
    font-weight: bold;
}

.best_wrap {
    display: flex;
    height: 90%;
    padding: 25px;
}

.best_img {
    width: 100%;
    height: 100%;
    display: block;
}

.best_img {
    flex: 1;
}

.best_img img {

    height: 100%;
}

.best_txt {
    flex: 1.5;
    padding-top: 3vw;
    padding-right: 3vh;
}

.best_txt_li {
    text-align: right;

}

.best_txt_li h3 {
    font-size: 20px;
    line-height: 60px;
}
.bext_txt_writer{
    font-size: 1.6vw;
}

.best_txt_li a {
    color: #222;
}

.best_txt_li span {
    display: block;
}

/*메인컨텐츠*/
.main_cont {
    display: flex;
    color: #222;
    width: 100%;
}

.main_cont h5 {
    font-size: 40px;
    color: #C5161D;
    font-weight: 900;
}

.main_cont .new {
    flex: 6.5;
    text-align: center;
    position: relative;

}

.newplus {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 13px;
    color: #222;
}

.newplus:hover {
    text-decoration: underline;
}

.newplus .bsplus {
    color: #C5161D;
    font-weight: bold;
}

.main_cont .author {
    flex: 3.5;
    text-align: center;
}

.newlist {
    width: 100%;
    overflow: hidden;
    padding: 20px 30px;
    text-align: center;
}

.newlist a {
    color: #222;
}

.newlist li {
    width: 21%;
    float: left;
    margin-right: 5%;
}

.newlist li:last-child {
    margin-right: 0;
}

.newli_img {
    width: 100%;
    padding-top: 55%;
}

.newli_img img {
    width: 100%;
}


.newlist li b {
    width: 80%;
    display: block;
    margin: 0 auto;
    word-break: keep-all;
    height: 7vh;
    padding: 7px 0;
}

.newlist li p {
    color: #777;
}

.author p {
    padding-bottom: 20px;
}

.author_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
    width: 100%;
    height: 77%;
}

.author_list li {
    width: 47%;
    height: 47%;
}

.author_list li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.author_list li a div {
    background-color: rgba(0, 0, 0, 0.44);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author_list li:nth-child(1) {
    background: url(../images/writers/verber.jpg) no-repeat center/cover;
}

.author_list li:nth-child(2) {
    background: url(../images/writers/roberto.jpg) no-repeat center/cover;
}

.author_list li:nth-child(3) {
    background: url(../images/writers/paul.jpg) no-repeat center/cover;
}

.author_list li:nth-child(4) {
    background: url(../images/writers/zorju.jpg) no-repeat center/cover;
}

/***********************************************메인끝*/

/*격자무늬 메뉴 시작***********************************/

.boxs_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding: 0 20px;
}

.boxs_wrap > div {
    width: 32%;
    margin-right: 2%;
}

.boxs_wrap > div:nth-child(3n) {
    margin-right: 0;
}

section {
    margin-bottom: 20px;

}


section:hover {}

.boxs_wrap section > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-shadow: 0 3px 10px #000;
    position: relative;
}

.sechover {
    text-shadow: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    word-break: keep-all;
    color: #d1d1d1;
}

section > a > h6 {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 9;
    font-size: 25px;
}



/*왜 a태그로 싼 h6과 얘는 글씨크기에 차이가 나지??*/

/*컨박스1*/
.collect {
    background: url(../images/books/jungip_eco3.jpg) no-repeat center/cover;
    height: 40vh;
}

.ebook {
    background: url(../images/books/ebook3.jpg) no-repeat center/cover;
    height: 35vh;
}

/*컨박스2*/
.event_box {
    background-color: #C5161D;
    height: 50vh;
}

.event_box {
    position: relative;
    padding: 15px;

}

.event_box h6 {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    text-shadow: 0 3px 10px #000;
    font-size: 25px;
}

.eventban {
    background-color: #fff;
    width: 100%;
    height: 50%;
}


.eventbanimg img {
    width: 100%;
    height: 100%;
}

/*슬라이더 설정한거*/
.bx-wrapper .bx-controls-direction a {
    top: 122% !important;
    transform: scale(1.2);
}

.bx-wrapper {
    margin-bottom: 0px !important;
}

/*.notice,
.bbg {
    height: 15vh;
}

.notice {
    border: 15px solid #C5161D;
    background-color: #fff;
}

.bbg {
    background-color: #9C2328;
}*/

/*컨박스3*/
.world {
    background: url(../images/world.PNG) no-repeat bottom/cover;
    height: 30vh;
}

.openbooksintro {
    background: url(../images/writers/Freud.jpg) no-repeat top/cover;
    height: 35vh;
}






/*************************************격자무늬 메뉴 끝*/

/*편집자 추천도서**************************************/

.editer_recomm {
    width: 100%;
    height: 36vh;
    /*height: 100vh;*/
    background-color: #fff;
    margin: 10vh 0 20vh 0;

    overflow: hidden;
}

.recomm_show {
    display: flex;
    height: 36vh;
    width: 100%;
}

.editer_recomm h6 {
    height: 100%;
    width: 40vw;
    padding-top: 7vh;
    font-size: 20px;
    text-align: center;
}

.recomm {
    display: flex;
    padding-top: 2vh;
    width: 100%;
}

.recomm a {
    color: #222;
}

.recomm b {
    font-size: 16px;
    display: block;
    padding: 7px 0;
}

.recomm p {
    color: #777;
}

.recomm_li {
    width: 20%;
    height: auto;
    text-align: center;
    margin-right: 5%;
}

.recomm li:last-child {
    margin-right: 0;
}

.recomm_img {
    display: block;
    width: 100%;
    padding-top: 150%;
    background-color: red;
}

.recomm_img.bimg1 {
    background: url(../images/books/recomm1.jpg)no-repeat top/cover;
}

.recomm_img.bimg2 {
    background: url(../images/books/recomm2.jpg)no-repeat top/cover;
}

.recomm_img.bimg3 {
    background: url(../images/books/recomm3.jpg)no-repeat top/cover;
}

.recomm_img.bimg4 {
    background: url(../images/books/recomm4.jpg)no-repeat top/cover;
}

.recomm_hidden {
    width: 100%;
    padding: 4vmin;
    /*height: 64vh;*/
}

.recomm_hidden img {
    width: 30vmin;
    float: left;
    margin-right: 3vmin;
}

.hidden_intro {
    padding: 2vmin;
    overflow: auto;
}

.hidden_intro big {
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.hidden_intro .hidden_writer {
    padding: 15px 0;
    display: block;
    font-size: 19px;
}

.hidden_intro p {
    line-height: 30px;
}

.hidden_intro p b {
    display: block;
    color: #6f6f6f;
    padding-bottom: 10px;
}

/****************************************편집자추천도서 끝*/

/*다음 사이트로 이동하기*/
#openbooks {
    position: relative;
}

.nextsite {
    position: absolute;
    width: 530px;
    height: 50px;
    background-color: #000;
    right: 0;
    bottom: 25vh;
    line-height: 50px;
}

.nextsite p {
    color: #999;
    font-size: 14px;
    float: left;
    padding-left: 20px;
}

.nextsite span {
    color: #fff;
    font-size: 14px;
}

.nextsite img {
    vertical-align: middle;
    margin: 0 30px;
}


/*새로나온 책 클릭시 팝업*/
.newpopup_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.newpopup_fix {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 70vh;
    overflow: hidden;
}

.newpopup_wrap {
    width: 400%;
    height: 100%;
    position: relative;
}

.newbook {
    width: 25%;
    height: 100%;
    background-color: white;
    float: left;
    padding: 2vw;
}
.newbookintro_box{
    height: 100%;
}

.newbookimg {
    float: left;
    width: 15vw;
    margin-right: 1vw;
    height: 100%;
}

.newbookimg.nb1 {
    background: url(../images/books/1.jpg) no-repeat top/contain;
}

.newbookimg.nb2 {
    background: url(../images/books/2.jpg) no-repeat top/contain;
}

.newbookimg.nb3 {
    background: url(../images/books/3.jpg) no-repeat top/contain;
}

.newbookimg.nb4 {
    background: url(../images/books/4.jpg) no-repeat top/contain;
}

.newbook b {
    font-size: 25px;
    margin: 1vw;
    display: block;

}

.new_writer {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 2vw;
}

.newintro_full {
    height: 70%;
    overflow: auto;
}

.newintro {
    display: block;
    font-weight: 500;
    padding-bottom: 1vw;
    color: #C5161D;
}

.newpop_left {
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: scale(1.4);
}

.newpop_right {
    position: absolute;
    top: 50%;
    right: 10vw;
    transform: scale(1.4);
}

.newpop_close {
    position: absolute;
    top: 7%;
    right: 20%;
}

.newpop_close img {
    width: 55px;
}

/*격자무늬메뉴 클릭시*/
.boxpop_left {
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: scale(1.4);
}

.boxpop_right {
    position: absolute;
    top: 50%;
    right: 10vw;
    transform: scale(1.4);
}

.box_popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.box_fix {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 70vh;
    overflow: hidden;
    /*border: 8px solid #C5161D;*/
}

/*.box_fix.rbx::before {
    content: '';
    display: block;
    padding-top: 60%;
}*/

.boxpopup_wrap {
    width: 500%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.thisboxpopup {
    width: 20%;
    height: 100%;
    background-color: white;
    float: left;
    padding: 2vw;
}

.thisboxpopup big {
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 3vh;
    display: block;
    position: relative;
}

.thisboxpopup big::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #C5161D;
}

.thisboximg {
    width: 100%;
    height: 75%;

}

.thisboximg.img0 {
    background: url(../images/junjip/0.jpg) no-repeat center/contain;
}

.thisboximg.img1 {
    background: url(../images/junjip/1.jpg) no-repeat center/contain;
}

.thisboximg.img2 {
    background: url(../images/junjip/2.jpg) no-repeat center/contain;
}

.thisboximg.img3 {
    background: url(../images/junjip/3.jpg) no-repeat center/contain;
}

.thisboximg.img4 {
    background: url(../images/junjip/4.jpg) no-repeat center/contain;
}

.boxpop_close {
    position: absolute;
    top: 5%;
    right: 21%;
}

.boxpop_close img {
    width: 55px;
}

/*ebook설정*/
.thisboxpopup.ebook_popup {
    display: none;
    width: 100%;
    height: auto;
    display: flex;
    overflow: auto;
}

.ebook_popimg {
    width: 40%;
}

.ebook_popimg img {
    width: 100%;
}

.ebooktit {
    width: 100%;
}

.ebooktit div {
    padding-left: 3vw;
}

.ebooktit big {
    padding-left: 1vw;
}

.ebook_popintro b {
    font-size: 25px;
    background-color: #C5161D;
    color: white;
    display: block;
    width: 50%;
    text-align: center;
}

.ebook_popintro small {
    font-size: 20px;
    padding: 1vh;
    display: block;
}

.ebook_popintro p {
    padding-bottom: 3vh;
}

/*세계문학 설정*/
.thisboxpopup.world_popup {
    display: none;
    width: 100%;
    height: auto;
    display: flex;
    overflow: auto;
}

.world_popimg {
    width: 30%;
    position: relative;
    top: 10%;
}

.world_popimg_list {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all .5s;
}

.popon {
    z-index: 2;
    opacity: 1;
}

.world_popimg_list img {
    width: 100%;
}

.worldtit {
    width: 77%;
}

.world_popintro {
    padding-left: 3vw;
}

.world_big {
    font-size: 25px;
    width: 90%;
    text-align: center;
}

.world_big b {
    font-size: 25px;
    background-color: #C5161D;
    color: white;
    text-align: center;
    padding: 0 1vw;
}

.world_popintro small {
    font-size: 14px;
    display: block;
    padding: 1vh 0;
    word-break: keep-all;
    color: #888888;
}

.world_sub_tit {
    padding-top: 3vh;
}

.world_sub_tit em {
    font-style: normal;
    background-color: #C5161D;
    color: #fff;
    padding: 0 1vw;
    font-size: 18px;
}

.world_sub_tit p {
    color: #222;
    font-size: 15px;
    padding-top: 1vh;
}
