@charset "utf-8";

/*열린책들 스타일시트*/

@import url(../css/common.css);

.inbox {
    background-color: #f3f8f3;
}

/*인트로*/

.intro_index {
    position: absolute;
    z-index: 2;
    width: 40%;
    font-size: 60px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_index li a {
    color: #fff;
}

.intro_index li {
    position: relative;
    font-family: elegance;
    width: 100%;
    height: 65px;
    margin: 20px 0;
}

.intro_index li:nth-child(1):hover {
    background-color: #BE161D;
}

.intro_index li:nth-child(2):hover {
    background-color: #000;
}

.intro_index li:nth-child(3):hover {
    background-color: #5B910A;
}

.intro_index li:nth-child(4):hover {
    background-color: #AAAAAA;
}

#intro .active {
    z-index: 2;
    opacity: 1;
}

.openhover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_openbooksbg.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

.mimehover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_mimebg.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

.byulhover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_byulchunji2.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

.museumhover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/bg/d_main_museum.jpg)no-repeat center/cover;
    opacity: 0;
    transition: all .5s;
}

#intro {
    width: 100%;
    height: 100%;
    position: relative;
}

