@media only screen and (max-width: 1200px) {
    /*C5161D*/

    /*배너 1200미디어쿼리*/
    .ban_img_box {
        flex: 2;
    }

    .ban_txt {
        padding-right: 0;
        flex: 2;
        padding-top: 8vw;
    }

    .ban_txt_li {
        text-align: center;
    }

    .ban_bul {
        left: 20%;
    }

    .ban_txt_li h3 {
        font-size: 2vw;
    }


    /*새로나온책*/
    .newlist li b {
        font-size: 14px;
        width: 100%;
        height: 5vh;
    }

    .newlist li p {
        font-size: 14px;
    }



    /*팝업클릭시 화살표위치*/
    .newpop_right {
        top: 77%;

    }

    .newpop_left {
        top: 77%;

    }

    .newbookimg {
        width: 30vw;
        height: 80%;
    }

    /*작가*/
    .author_list {
        padding: 0 15px;
    }

    /*격자무늬*/
    .boxs_wrap {
        padding: 0 30px;
        margin-top: 5vh;
    }

    /*팝업돌아가는 엑스*/
    .boxpop_close {
        top: 8%;
        right: 5%;
    }

    .newpop_close {
        top: 7%;
        right: 5%;
    }


    /*격자무늬 클릭시 박스크기*/
    .newpopup_fix {
        width: 90vw;
        height: 65vh;
    }

    .box_fix {
        width: 90vw;
        height: 60vh;
    }
}

/*메인 1200픽셀 미디어쿼리*/

@media only screen and (max-width: 1024px) {

    /*로고조금 조정*/
    .toplogo img {
        transform: scale(0.9);
    }

    .logotxt {
        padding-left: 0px;
    }

    .logotxt h1 {
        padding-top: 5px;
    }

    .logotxt h2 {
        padding-top: 0px;
    }

    /*배너*/
    .banner {
        height: 40vw;
    }

    .ban_bul {
        /*margin: 17vw auto 0 2vw;*/
    }

    .bestseller {
        height: 40vw;
    }

    .main_wrap {
        height: auto;
    }

    /*베스트셀러*/
    .best_txt_li h3 {
        font-size: 2.5vw;
        line-height: 50px;
    }

    /*메인컨트*/
    .main_cont {
        padding-top: 2vh;
    }

    /*팝업돌아가는 엑스*/
    .newpop_close {
        top: 10%;
    }

    .boxpop_close {
        top: 13%;
    }

    /*격자무늬*/
    .collect {
        height: 30vh;
    }

    .ebook {
        height: 25vh;
    }

    .event_box {
        height: 40vh;
        margin: 12vw 0px;
    }

    .world {
        height: 23vh;
    }

    .openbooksintro {
        height: 25vh;
    }

    /*편집자 추천도서*/
    .editer_recomm {
        height: 33vw;
        margin: 7vh 0 14vh 0;
    }

    .recomm_show {
        height: 30vw;
    }

    /*다음페이지넘어가기*/
    .nextsite {
        bottom: 23vh;
    }

    /*푸터*/
    .footerlogo {
        margin-left: 3vw;
    }

}

/*메인 1024픽셀 미디어쿼리*/

@media only screen and (max-width: 850px) {

    /*검색창*/
    .main_search {
        width: 33%;
        right: -67%;
    }

    .footercenter {
        flex: 4;
    }

    .newlist {
        padding: 20px 20px;
    }

    .newlist li b {
        font-size: 13px;
    }

    .bext_txt_writer {
        font-size: 1.7vw;
    }

    .author_list {
        padding: 0 15px 0 0;
    }

    .main_cont h5 {
        font-size: 5vw;
    }

    /*새로나온책클릭시*/
    .newbook b {
        font-size: 22px;
    }

    /*격자무늬팝업*/
    .sechover {
        font-size: 16px;
    }

    section > a > h6 {
        font-size: 3vw;
    }

    .event_box h6 {
        font-size: 3vw;
    }

    .world_big {
        font-size: 20px;
    }

    /*편집자추천도서*/
    .recomm b {
        font-size: 14px;
        height: 5vh;
    }

    .recomm p {
        font-size: 14px;
    }

    .hidden_intro p {
        line-height: 28px;
    }

    .hidden_intro big {
        font-size: 23px;
        padding-bottom: 13px;
    }

    .hidden_intro .hidden_writer {
        padding: 10px 0;
        font-size: 18px;
    }

    .hidden_intro p {
        line-height: 28px;
    }

    /*푸터*/
    .footercenter {
        flex: 5;
        padding: 3vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1vw;
    }

    .footerlogo {
        margin-left: 0vw;
    }

    .footerinfo a {
        font-size: 14px;
    }

}

/*메인 850픽셀 미디어쿼리*/

@media only screen and (max-width: 700px) {
    /*여기부터 모바일버전*/

    .mobiledb {
        display: block;
    }

    .mobiledn {
        display: none;
    }

    .mobilebr {
        display: block;
    }

    /*헤더*/
    .top {
        height: 120px;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .mobileham {
        width: 10vw;
        height: 10vw;
        min-width: 50px;
        min-height: 50px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #C5161D;
        position: absolute;
        top: 2vw;
        left: 2vh;
    }

    .mobileham a {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .mobileham a img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4vw;
        min-width: 22px;
    }

    .m_sidemenu {
        width: 0vw;
        height: 100vh;
        background-color: #C5161D;
        position: fixed;
        z-index: 777;
        overflow: hidden;
    }

    .m_side_x {
        position: absolute;
        top: 0;
        right: 0;
    }

    .m_side_x {
        transform: scale(0.7);
    }

    .m_side_list {
        line-height: 2;
        margin-top: 20vw;
        white-space: nowrap;
    }

    .m_side_list a {
        color: #fff;
        font-size: 10vw;
    }

    .m_nextsite {
        width: 100%;
        height: 25vw;
        background-color: #000;
        position: absolute;
        bottom: 0;
        padding: 2vw;
        text-align: center;
        white-space: nowrap;
    }

    .m_nextsite p {
        color: #999;
        line-height: 10vw;

    }

    .nextsite_go {
        color: #fff;
        text-align: center;
        width: 100%;
        display: block;
    }



    .main_search {
        width: 55%;
        left: 50%;
        top: 0vw;
        right: auto;
        transform: translateX(-50%);
    }

    #mainfind {
        height: 50px;
        border: 0;
        border-bottom: 4px solid #C5161D;
        padding-left: 10px;
    }

    .toplogo {
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .toplogo a {
        justify-content: center;
    }

    .logotxt {
        padding-left: 0px;
        padding-top: 0;
    }

    /*배너*/
    .main_wrap {
        height: auto;
        position: relative;
        padding-top: 116vw;
    }

    .bestseller {
        height: auto;
        width: 100%;
        padding: 0 3vw;
    }

    .bestseller h4 {
        text-align: center;
        padding-top: 5vw;
        padding-bottom: 5vw;
        padding-left: 0;
        font-size: 6vw;
    }

    .best_txt_li h3 {
        font-size: 5vw;
        line-height: 2.5;
    }

    .best_wrap {
        background-color: #fff;
        display: block;
    }

    .m_best_img {
        text-align: center;
        height: auto;
    }

    .m_best_img img {
        width: 40vw;
        height: auto;
    }

    .best_txt {
        padding-top: 0vw;
        padding-right: 0vh;
    }

    .bext_txt_writer {
        font-size: 4vw;
        font-weight: bold;
    }

    .bext_txt_writer span {
        font-weight: normal;
    }

    .best_txt_li {
        text-align: center;
    }

    /*배너*/

    .banner {
        width: 100%;
        background-color: #C5161D;
        display: block;
        height: 110vw;
        top: 120px;
        position: absolute;
    }

    .m_ban_img_box {
        height: 69vw;
        width: 45%;
        left: 50%;
        transform: translateX(-50%);
        top: 5vw;
    }

    .m_ban_img_box {
        position: relative;
    }

    .m_ban_img_box div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: all .9s;
    }

    .m_ban_img_box .active {
        display: block;
        z-index: 4;
        opacity: 1;
    }


    .ban_txt {
        padding: 7vw 0;
    }

    .ban_txt_li h3 {
        font-size: 6vw;
        line-height: 8vw;
    }

    .ban_txt_li li {
        line-height: 2;
        font-size: 4vw;
    }

    .ban_bul {
        left: 50%;
        bottom: 2vw;
    }

    /*메인*/
    .main_cont {
        padding-top: 0vh;
        display: block;
    }

    .main_cont .new {
        position: static;
    }


    .newlist {
        padding: 0;
        padding-left: 20px;
        width: 150%;
    }

    .main_cont h5 {
        display: inline-block;
        line-height: 3;
        font-size: 10vw;
    }

    .maincont_p {
        display: inline-block;
        font-size: 5vw;
        color: #C5161D;
        font-weight: 500;
    }

    .newlist li b {
        font-size: 3vw;
        /*        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;*/
        padding: 7px;
        height: 12vw;
    }

    .newlist li p {
        font-size: 2.7vw;
    }

    /*새로나온책 팝업*/
    .newbookimg {
        width: 100%;
        height: 80%;
    }

    .newbook b {
        font-size: 20px;
    }

    .newbookintro_box {
        text-align: center;
    }

    .newintro_full {
        display: none;
    }

    .newpop_left {
        top: 50vh;
    }

    .newpop_right {
        top: 50vh;
    }

    /*작가*/
    .main_cont .author {
        height: 100vw;
    }

    .author_list {
        padding: 0 5vw;
    }

    /*격자무늬*/
    .boxs_wrap {
        padding: 0 0px;
        margin-top: 5vh;
    }

    section > a > h6 {
        font-size: 20px;
    }

    .event_box h6 {
        font-size: 20px;
        display: none;
    }

    .cbox1,
    .cbox3 {
        display: none;
    }

    .boxs_wrap > div {
        width: 100%;
        margin-right: 0%;
    }

    /*편집자 추천도서*/
    .editer_recomm {
        height: auto;
        margin: 0vh 0 5vh 0;
        background-color: transparent;
    }

    .editer_recomm h6 {
        display: none;
    }

    .editerh6 {
        text-align: center;
        position: relative;
        padding-bottom: 5vw;
        font-size: 5vw;
        font-weight: bold;
    }

    .editerh6::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        height: 2px;
        background-color: #C5161D;
    }

    .recomm_show {
        height: auto;
        padding: 0px 8vw;
    }

    .recomm {
        display: flex;
        padding-top: 7vw;
        width: 100%;
        flex-wrap: wrap;
    }

    .recomm b {
        font-size: 4vw;
        height: 10vw;
    }

    .recomm p {
        font-size: 4vw;
    }

    .recomm_li {
        width: 45%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .recomm_li:nth-child(2n) {
        margin-right: 0%;
    }

    /*다음사이트*/
    .nextsite {
        display: none;
    }

    /*푸터*/
    footer {
        width: 100%;
        height: auto;
        background-color: #fff;
        display: block;
    }

    .footerinfo {
        display: block;
        padding: 0 5vw;
    }

    .footerline {
        display: none;
    }

    .footerlogo {
        display: none;
    }

    .footercenter {
        padding: 0;
        padding-left: 0vw;
    }

    .m_snslinks {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 5vw 0;
    }

    .m_snslinks li {
        float: left;
        width: 33%;
        text-align: center;
    }

    .m_snslinks li img {
        width: 10vw;
        min-width: 35px;
    }

    .snslinks {
        display: none;
    }

    .footerinfo a {
        font-size: 4vw;
        line-height: 3;
    }

    address {
        padding: 5vw;
    }

}

/*메인 700픽셀 미디어쿼리*/
