@charset "utf-8";

/*열린책들 서브사이트 스타일시트*/
/*#C5161D*/

@import url(../css/common.css);

.inbox {
    background-color: #f3f8f3;
    padding: 0 25px;
    
    
}

.bstit {
    width: 40%;
    height: 20vh;
    text-align: center;
    position: relative;
    padding-top: 6vh;
    margin: 0 auto;
}

.bstit small {
    font-size: 22px;
}

.bstit p {
    font-size: 16px;
    font-weight: 400;
    color: #717171;
}

.bstit::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #C5161D;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}

.banner {
    width: 100%;
    height: 40vmin;
    background-color: #C5161D;
}

.bannerimg {
    width: 1400px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.bestbanner{
    background: url(../images/bg/bestseller.jpg) no-repeat center/cover;
    
}
.newbanner{
    background: url(../images/bg/newbook.png) no-repeat 100% 30%/cover;
}

.bannerimg a {
    width: 100%;
    height: 100%;
    display: block;
}

.bannerlogo {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.bannerlogo img {
    width: 70px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #2E2E2E;
}

/*.bslist {margin-bottom: 20px;} 왜 마진만하면 바닥색이 잘려보이는지 모르겠네????????*/
.bslist {
    padding-bottom: 4%;
}

.bsimg {
    position: relative;
    float: left;
    width: 30%;

}
.newimg{text-align: center;}

.bsimg img {
    width: 55%;
}

.bsimg img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 40%;
}

.bstxt {
    float: left;
    padding-left: 3%;
}

.bstxt li {
    padding: 6px 0;
    color: #222;
    display: flex;
}

.bstxt_tit {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.bstxt_tit a {
    color: #222;
}

.bstxt_tit a:hover {
    text-decoration: underline;
}


.txtleft {
    width: 77px;
    border-right: 2px solid #C5161D;
    margin-right: 5px;
    font-weight: bold;
}

/*베스트셀러 제목 클릭시*/
body {
    position: relative;
}

.wbg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0vh;
    left: 0;
    border: 2px solid #dddddd;
    z-index: 77;
}

.bsintro {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    color: #222;
}

.bsintro h2 {
    text-align: center;
    padding: 3vh 0;

}

.bsintro h3 {
    padding-bottom: 2vh;
    text-align: center;
}

.bsintro p {
    line-height: 30px;
    height: 40vh;
    overflow: auto;
}/*왜 height조정이 안될까...?*/


.bsintro_img {
    width: 30%;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
}

.bsintro_img img {
    width: 50%;
}

.bsintro_x {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(.8);
}

.buylinks {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.buylinks img {
    transform: scale(1.4);
}

.buylinks li {
    margin: 0 10px;
}
